@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@font-face { font-family: "Bright Sunshine"; src: url('../fonts/Bright\ Sunshine\ Demo.ttf'); } 


* {
  box-sizing: border-box;
}


body {
  background-image: url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  color: #586136;


  margin: 0;

 
}



/*Header*/
header {

  min-height: 50px;

}

h1 {
  font-family: "Bright Sunshine";
  font-size: 50px;
  margin-bottom: 0px;
}

header p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

}

header img {
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


h1, h2 {
    text-align: center;
}

#april {
  margin-bottom: -50px;
}

#wedding-day {
  width: 50%;
  position: center;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
  


#wedding-day p {
  width: 33%;
  display: inline-block;
}

#day-of-week {
  text-align: right;
  font-size: 16px;
}


#day-of-month {
  text-align:  center;
  font-size: 30px; 
}


#year {
  text-align: left;
  font-size: 20px;

}

/*Nav*/

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 80%;
  margin-left: auto;
    margin-right: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}

.topnav a:hover {
  background-color: #111;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {

  .topnav {
    width: 100%;
  }

  .topnav a {
    width: 100%;
  }

  .topnav a {display: none;}
  .topnav a.icon {
    float: top;
    display: block;
  }


  
}

@media screen and (max-width: 600px) {

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

  
/*Home*/

.home-img img {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#countdown {
  text-align: center;
  font-size: 20px;
  font-weight: 600;


}


/*RSVP form*/

legend {
  margin: 10px  auto -20px;
  font-weight: bold;
}

form {
    width: 60vw;
    margin: auto;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: center;
  overflow: hidden;
  margin-bottom: -20px;
  margin-top: 20px;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;


}



input[type=submit]{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline{
  display: inline; 
}

.radio-buttons-container {
  width: 24%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;

  padding: 0;
  overflow: hidden;
  position: center;
}

input[type="radio"]  {
  color:#a31484;
  font-family:Arial, sans-serif;
  font-size:14px;
}


/*Footer*/

footer div {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: bottom;
  margin-left: auto;
    margin-right: auto;
  height: 100%;
  width: auto;
  opacity: 1;
  bottom: 0; 
  overflow: hidden;
}