@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@font-face { font-family: "Bright Sunshine"; src: url('../fonts/Bright\ Sunshine\ Demo.ttf'); } 





body {
  background-image: url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  color: #013220;
}




/*Header*/
h1 {
  font-family: "Bright Sunshine";
  font-size: 50px;
}

header p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

}

header img {
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


h1, h2 {
    text-align: center;
}



ul {
    width: 80%;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: center;
  }
  
  li {
    float: left;
    width: 25%;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  
/*Home*/

#home-page img {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#countdown {
  text-align: center;
  font-size: 20px;
  font-weight: 600;


}


/*RSVP form*/

form {
    width: 60vw;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

