
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@font-face { font-family: "Bright Sunshine"; src: url('../fonts/Bright\ Sunshine\ Demo.ttf'); } 

* {
  padding: 0;
margin: 0;
}

body {
    background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
    color: #586136;


   
  }
  

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
    opacity: 0.5;
  }
  

  nav {
    margin-top: 10px;
    margin-bottom: 40px;
  }

h1 {
  font-family: "Bright Sunshine";
  font-size: 50px;
}



.wedding-date {
    text-transform: uppercase;
    width: 50%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    letter-spacing: 3px;
}

.wedding-date span {
    width: 33%;
    display: inline-block;
  }
  
  #day-of-week {
    text-align: right;
    font-size: 16px;
  }
  
  
  #day-of-month {
    text-align:  center;
    font-size: 30px; 
  }
  

  #year {
    text-align: left;
    font-size: 23px;
  
  }

.navbar-toggler {
  color: white;
}

.navbar-nav {
    width: 100%;
}

.nav-item {

    width: 100%;
    text-align: center; /* If you want the text to be centered */
    margin-left: auto;
    margin-right: auto;
}


.nav-item > a {
   color: white;
   text-align: center;
 } 


 a:active { 
   color: grey; 
}


.nav-link {
  width: 100%
}

 .nav-link:hover {
  background-color: #586136;
 }
 

 #header-img {
  transform: rotate(180deg);
  opacity: 0.5;
}


@media (min-width: 992px) {

  #header-text {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
  }

}


@media (min-width: 1200px) {

  #header-text {
    position: relative;
    top: -65px;
    margin-bottom: -65px;
  }

}


tr {
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-top: 30px;
}

table {
  width: 100%;
}

li {
  list-style-position: inside;
}


